.homePageContent {

	font-size: 24px;
}


img {
  width: 100%;
}
.carousel-inner{
  width:100%;
  max-height: 400px !important;
}






#myCarousel {

	margin-top: 80px;
}

nav button span {

	margin-top: 05px;
}

@media (max-width: 767px) {
  .navbar-collapse
    {
      

		float: right;
		max-width: 50px;
	        
    }
}


#roomCarousel {

	margin-top: 31px;
	
}

.fourreasons {

	font-size: 15px;
}

nav {
    
    background-color: white;
}

